.detail_text {
  padding: 5%;
  text-align: justify;
  font-weight: 500;
  color: #99ff98 !important;
}
.title_text {
  text-align: center;
  font-weight: 700 !important;
  color: #d0dde1 !important;
}
.container {
  justify-content: center;
  text-align: center;
  padding: 5%;
}
.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_list {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #99ff98 !important;
}
.faq_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq_panel {
  border-radius: 10px;
}
.faqs {
  background: transparent !important;
  border-radius: 10px;
  width: 85%;
}
.ant-collapse-header {
  color: #99ff98 !important;
}
.ant-collapse-content {
  background: transparent !important;
  color: #d0dde1 !important;
}
