.form_login_container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 2px;
  border-radius: 25px;
  background-color: #D0DDE1;
  height: 300px;
  width: 500px;
}

@media (max-width: 580px) {
  .form {
    height: 70vh;
    width: 100vh;
    border-radius: 0px;
    flex-direction: column;
  }
}
