.go_back_button {
  padding: 15px 15px;
  font-size: 24px;
  color: #99ff98;
}

.go_back_button:hover {
  border-radius: 99px;
  background-color: #cccccc79;
}

.body-call {
  display: flex;
  justify-content: center;
}

.call-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ownData {
  text-align: center;
}

.single-call-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}

.ant-collapse-header {
  font-size: 20px;
  font-weight: 600;
}
