.body_player {
  display: flex;
  justify-content: center;
}

.go_back_button {
  padding: 15px 15px;
  font-size: 24px;
  color: #99ff98;
}

.go_back_button:hover {
  border-radius: 99px;
  background-color: #cccccc79;
}

.player_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.single_player_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}

.avatar {
  padding: 15px;
}

.position_of_player {
  display: flex;
  justify-content: center;
  align-items: center;
}


.image {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 50px;
}



@media (min-width: 768px) {
  .player_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .player_photo_card {
    margin: 15px 15px;
    width: 100%;
  }
}
