.ant-typography {
  text-align: center;
}
.card_calls_details {
  width: 90%;
  background-image: radial-gradient(
    circle at 29.86% 93.2%,
    #ffa8bf 0,
    #ff99bb 16.67%,
    #ff86b3 33.33%,
    #f06fa9 50%,
    #da58a0 66.67%,
    #c7469b 83.33%,
    #b63b9a 100%
  );
  border-radius: 15px;
}
.ant-card-meta-title {
  text-align: center;
}
