.list_of_players {
  display: grid;
  padding: 10;
  margin: 0.5%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
}

.card:hover {
  box-shadow: 0 3px 6px 0 rgba(154, 255, 152, 0.6),
    0 6px 16px 0 rgba(153, 255, 152, 0.6), 0 9px 28px 0 rgba(153, 255, 152, 0.6);
}

.card_image {
  height: 250px;
}

.img_skeleton {
  display: flex;
  justify-content: center;
}
